<!DOCTYPE html>
<html lang="en">

<body>
{% include 'header.html' %}
 <header class="masthead" style="background-image: url({{title.url}});">

            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{title.title}} Post</h1>
                            <span class="subheading">Writing Great Contents and Ideas</span>
                        </div>
                    </div>
                </div>
            </div>
 </header>
<div class="container">
        <div class="row form-control justify-content-center card text-left mx-auto my-1 rounded w-75">
           <form action="edit_post" method="PUT" class="pb-4">
               <div>
                   <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                   <label for="title" class="form-check-label mt-3"><b>Blog Post title</b></label>
                    <input type="text" name="title" id="title" class="form-control" value="{{contxt.title}}">
                   <label for="subtitle" class="form-check-label mt-3"><b>Subtitle</b></label>
                    <input type="text" name="subtitle" id="subtitle" class="form-control" value="{{contxt.subtitle}}">
                   <label for="author" class="form-check-label mt-3"><b>Author</b></label>
                    <input type="text" name="author" id="author" class="form-control" value="{{contxt.post_by}}">
                   <label for="url" class="form-check-label mt-3"><b>Blog Image URL</b></label>
                    <input type="text" name="url" id="url" class="form-control" value="{{contxt.post_img_url}}">
                   <label for="content" class="form-check-label mt-3"><b>Blog Content</b></label>
                    <textarea name="content" id="content" class="form-control" rows="8" >{{contxt.body}}</textarea>
                    <input type="submit" name="submit" id="submit" class="btn btn-primary mt-2 rounded" value="submit">
               </div>
           </form>
        </div>
</div>
    {% include "footer.html" %}


</body>
</html>